
h1 {
    text-align: center;
}

/* the "case" of the calculator */
.container {
    margin: auto;
    width: 400px;
    height: 530px;
    background-color: gray;
    box-shadow: 2px 3px rgb(88, 88, 88);
    border-radius: 5px;
}

/* the screen                                               start */
.screen {
    width: 1fr;
    height: 125px;
    display: grid;
    grid-template-rows: 55px 70px;
    text-align: right;
}

/* first row of the screen */
#ans {
    margin: 10px 10px 0px 10px;
    background-color: white;
    border-bottom: 1px gray;
    font-size: 15px;
    background-color: rgb(223, 172, 130, 0.9);
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 4px 5px rgb(88, 88, 88);
}

/* second row of the screen                                 end */
#result {
    margin: 0px 10px 10px 10px;
    background-color: white;
    font-size: 30px;
    background-color: rgb(223, 172, 130, 0.8);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 4px 5px rgb(88, 88, 88);
}

/* div container of the buttons and button-specifications   start */
.input-field {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template: repeat(5, 72px) / repeat(4, 1fr);
    grid-gap: 7px;
}

#equals {
    grid-row: 4 / -1;
    grid-column: 4 / -1;
    background-color: rgba(255, 220, 20, 0.7);
    border: none;
    font-weight: bold;
    color: white;
}

#zero {
    grid-column: 1 / 3;
}

button {
    box-shadow: 2px 3px rgb(88, 88, 88);
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(39, 39, 39, 0.8);
    color: white;
}

#equals:hover{
    box-shadow: inset 0 0 10px rgba(255, 255, 0, 0.555);
}

#warning:not(:empty) {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    border-style: solid;
    border-color: rgba(255, 123, 0, 0.582);
    border-width: 2px;
    background-color: rgba(255, 123, 0, 0.582);

}

